# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Firebase Framework Logs
.firebase/
*-debug.log

# Environment Files (CRITICAL: Keeps Firebase/Firestore API keys safe)
*.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Dependencies and Build Outputs
node_modules
dist
dist-ssr
.next/
out/
build/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?